// contact us section
.contact-us {
    padding: 5.7rem 0;
    h4 {
        @extend %secTitle;
    }
    input, textarea {
        margin-bottom: 2.1rem;
        padding: 1.2rem;
    }
}
// google map section
.google-map {
    #google_canvas {
        width: 100%;
        height: 30rem;
    }
}