// colors
$primaryColor: #22a7f0;
$secondaryColor: #353535;
$whiteColor: #ffffff;
$blackColor: #000000;
$redColor: #ff0000;
$bgColorLight: #f8f8f8;
$bgColorDark: #161616;
$overlayColor: rgba(34, 167, 240, 0.7);
// fonts family
$openSansRegular: 'OpenSans-Regular';
$openSansItalic: 'OpenSans-Italic';
$openSansBold: 'OpenSans-Bold';
$openSansSemiBold: 'OpenSans-Semi-Bold';
$ralewaySemiBold: 'Raleway-SemiBold';
$playRegular: 'Play-Regular';
$playBold: 'Play-Bold';
$myriadProRegular: 'MYRIADPRO-REGULAR';
// font size
$rootFontSize: 14px;